<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body >
    <form name="f" method="POST" action="/process_login" style="margin: 20px 200px">
        <label for="username">Введите имя пользователя:</label>
        <input type="text" name="username" id="username" placeholder="username">
        <br>
        <label for="password">Введите пароль пользователя:</label>
        <input type="text" name="password" id="password" placeholder="password">
        <br>
        <button type="submit">АВТОРИЗАЦИЯ</button>
        <br>
        <p th:if="${param.error}" style="color: red">
            Неправельные имя или пароль
        </p>
    </form>
</body>
</html>